<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Angular Experiment</title>
  </head>
  <body ng-app="exampleApp">
    <section ng-controller="productCtrl">
      <h1>All Available Products For You:</h1>

      <div ng-repeat="product in allProducts">
        <h2> {{product.name}} </h2>
      </div>
    </section>

    <section ng-controller="cartCtrl">
      <h1>This is your cart:</h1>

      <div id="cart-items-container">
        <div ng-repeat="item in cartItems">
          <div class='cart-item'>
            {{item.name}}
          </div>
        </div>
      </div>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
