<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/foundation.min.css" title="foundation" type="text/css" />

    <title>Angular Experiment</title>
  </head>
  <body ng-app="exampleApp">
    <section ng-controller="productCtrl" class="row" >
      <h1>All Available Products For You:</h1>

      <div ng-repeat="product in allProducts" class="large-3 columns">
        <h2> {{product.name}} </h2>
        <button type="button" ng-click="addToCart($index)">Add To Cart</button>
      </div>
    </section>

    <hr />

    <section ng-controller="cartCtrl">
      <h1>This is your cart:</h1>

      <table id="cart-items-container" class="large-6">
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>

        <tr ng-repeat="item in cartItems">
          <td class='item-name'>
            {{item.name}}
          </td>
          <td class='item-price'>
            {{item.price}}
          </td>
        </tr>
      </table>

      <div id="cart-totals">
        <p id='cart-item-count'> Item Count: {{cart.cartItemsCount()}} </p>
        <p id='cart-total'>Cart Total: {{cart.cartTotal() | currency}}</p>

      </div>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
