@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base'; // this is bitters

body { @include outer-container; }
section#tracked-stations {
  @include span-columns(9);

  tr:nth-child(even) {
    background-color: #EEEEEE;
  }

  .station-bikes,
  .station-docks {
    text-align: center;
  }
}
section#all-stations {
  @include span-columns(2);
}
